/* COMMON */
img {
    width: 100%;
}

.ms_container {
    width: 95%;
    margin: 0 auto;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ms_sony-header {
    background-color: black;
}

.ms_sony-header img {
    height: 15px;
    width: auto;
    margin: 1rem;
}

header .navbar .nav-link::after {
    display: inline-block;
    content: url(../img/chevron-down-solid.svg);
    width: 0.6rem;
    margin-left: 0.4em;
    vertical-align: middle;
}

.fa-search {
    font-size: 1.5rem;
    margin-left: 1rem;
    vertical-align: -webkit-baseline-middle;
}

/* JUMBOTRON */
.ms_jumbotron {
    height: 100vh;
    margin-top: 123px;
    padding-top: 20rem;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
}

/* JUMBOTRON GAMES */
.jumbo-games img {
    border-radius: 1rem;
}